<div class="container mt20">
    <h2 class="text-center mb-4" >Agregar Licor</h2>
    <form>
        <div class="row">
        <div class="form-group mb-2 col-md-6 offset-md-3">
            <label for="nomLicor">Nombre</label>
            <input type="text" class="form-control" id="nomLicor" name="nomLicor" required>
        </div>

        <div class="form-group mb-2 col-md-6 offset-md-3">
            <label for="descripcionLicor">Descripción</label>
            <input type="text" class="form-control" id="descripcionLicor" name="descripcionLicor" required>
        </div>

        <div class="form-group mb-2 col-md-6 offset-md-3">
            <label for="fechaVencimiento">Fecha de vencimiento</label>
            <input type="date" class="form-control" id="fechaVencimiento" name="fechaVencimiento" required>
        </div>

        <div class="form-group mb-2 col-md-6 offset-md-3">
            <label for="fechaFabricacion">Fecha de fabricación</label>
            <input type="date" class="form-control" id="fechaFabricacion" name="fechaFabricacion" required>
        </div>

        <div class="form-group mb-2 col-md-6 offset-md-3">
            <label for="Cantidad">Cantidad</label>
            <input type="number" class="form-control" id="Cantidad" name="Cantidad" required>
        </div>

        <div class="form-group mb-2 col-md-6 offset-md-3">
            <label for="nomProveedor">Proveedor</label>
            <input type="text" class="form-control" id="nomProveedor" name="nomProveedor" required>
        </div>

        <div class="form-group mb-2 col-md-6 offset-md-3">
            <label for="colEtiqueta">Etiqueta</label>
            <input type="text" class="form-control" id="colEtiqueta" name="colEtiqueta" required>
        </div>

        <div class="form-group mb-2 col-md-6 offset-md-3">
            <label for="mlLicor">ML x botella</label>
            <input type="number" class="form-control" id="mlLicor" name="mlLicor" required>
        </div>

        <div class="form-group mb-2 col-md-6 offset-md-3">
            <label for="numContactoProveedor">Contacto Proveedor</label>
            <input type="text" class="form-control" id="numContactoProveedor" name="numContactoProveedor" required>
        </div>

    </div>

        <div class="form-footer mb-2 text-center">
            <button type="submit" class="btn btn-primary">Registrar</button>
        </div>
    </form>
</div>
