<mat-toolbar color="primary">
    <a
      [routerLink]="'/'"
      mat-icon-button
      class="example-icon"
      arial-label="Example icon-button with menu icon"
    >
      <mat-icon>home</mat-icon>
    </a>
    <span>Licores</span>
    <span class="example-spacer"></span>
    <a
    [routerLink]="'/list'"
    mat-icon-button
    class="example-icon"
    arial-label="Example icon-button with menu icon"
    >
    <mat-icon>list</mat-icon>
    </a>
    <span>Lista Licores</span>
    <a
    [routerLink]="'/add'"
    mat-icon-button
    class="example-icon"
    arial-label="Example icon-button with menu icon"
    >
    <mat-icon>add</mat-icon>
    </a>
    <span>Agregar Licor</span>
    <span class="example-spacer"></span>
  </mat-toolbar>
