<div class="container mt20">
    <h2 class="text-center">Lista de Licores</h2>
    <div>
        <table class="table">
            <thead>
                <tr>
                  <th>#</th>
                  <th>Nombre</th>
                  <th>Descripción</th>
                  <th>Fecha de fabricación</th>
                  <th>Fecha de vencimiento</th>
                  <th>Cantidad</th>
                  <th>Proveedor</th>
                  <th>Contacto de proveedor</th>
                  <th class="text-center" colspan="2">Acciones</th>
                </tr>
            <tbody>
                <tr>
                    <th>1</th>
                    <td>Whisky</td>
                    <td>Whisky 10 años</td>
                    <td>2024-05-10</td>
                    <td>2024-05-10</td>
                    <td>20</td>
                    <td>LICORES SAC</td>
                    <td>701-5552</td>
                    <td>
                        <a class="btn btn-warning" (click)="actualizarLicor()">Actualizar</a>
                    </td>
                    <td>
                        <a class="btn btn-danger">Eliminar</a>
                    </td>
                  </tr>
            </tbody>
        </table>
    </div>

</div>
